.button {
	padding: 10px;
	border: none;
	border-radius: $small-radius;
	background-color: $primary-blue;
	font-size: $base-font-size;
	line-height: $base-font-size;
	cursor: pointer;

	&:hover {
		background-color: $primary-blue-hover;
	}

	&:active {
		background-color: $primary-blue;
		color: white;
	}
}
