.ingredient-control {
	width: 300px;
	padding: 5px;
	margin-bottom: 10px;

	border: 1px solid $fancy-black;
	border-radius: $small-radius;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
